<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>logincheck</servlet-name>
  	<display-name>logincheck</display-name>
  	<description></description>
  	<servlet-class>logincheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewUser</servlet-name>
  	<display-name>NewUser</display-name>
  	<description></description>
  	<servlet-class>NewUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserDetails</servlet-name>
  	<display-name>UpdateUserDetails</display-name>
  	<description></description>
  	<servlet-class>UpdateUserDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookShipment</servlet-name>
  	<display-name>BookShipment</display-name>
  	<description></description>
  	<servlet-class>BookShipment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelShipment</servlet-name>
  	<display-name>CancelShipment</display-name>
  	<description></description>
  	<servlet-class>CancelShipment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateShipmentStatus</servlet-name>
  	<display-name>UpdateShipmentStatus</display-name>
  	<description></description>
  	<servlet-class>UpdateShipmentStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<display-name>logout</display-name>
  	<description></description>
  	<servlet-class>logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewShipmentStatus</servlet-name>
  	<display-name>ViewShipmentStatus</display-name>
  	<description></description>
  	<servlet-class>ViewShipmentStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminAddShipment</servlet-name>
  	<display-name>AdminAddShipment</display-name>
  	<description></description>
  	<servlet-class>AdminAddShipment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerateBillServlet</servlet-name>
  	<display-name>GenerateBillServlet</display-name>
  	<description></description>
  	<servlet-class>GenerateBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>logincheck</servlet-name>
  	<url-pattern>/logincheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewUser</servlet-name>
  	<url-pattern>/NewUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserDetails</servlet-name>
  	<url-pattern>/UpdateUserDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookShipment</servlet-name>
  	<url-pattern>/BookShipment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelShipment</servlet-name>
  	<url-pattern>/CancelShipment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateShipmentStatus</servlet-name>
  	<url-pattern>/UpdateShipmentStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewShipmentStatus</servlet-name>
  	<url-pattern>/ViewShipmentStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminAddShipment</servlet-name>
  	<url-pattern>/AdminAddShipment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateBillServlet</servlet-name>
  	<url-pattern>/GenerateBillServlet</url-pattern>
  </servlet-mapping>
</web-app>
